<% form_tag({}, {:class => 'housekeeper-form'}) do %>
  <p>
    <label for="name"><%= I18n.t('activerecord.attributes.user.name') %></label>
    <%= text_field_tag :name, params[:name] %>
  </p>

  <p>
    <label for="password"><%= I18n.t('activerecord.attributes.user.password') %></label>
    <%= password_field_tag :password, params[:password] %>
  </p>

  <p class="submit-container">
    <%= submit_tag I18n.t('main.login'), :class => 'submit' %>
  </p>
<% end %>
