<h2><%= I18n.t("user.editing_user") %></h2>

<% form_for(@user, :html => {:class => 'housekeeper-form'}) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :locale %>
    <%= f.select :locale, LANGUAGES.collect{|name, value| [name, value]} %>
  </p>

  <p>
    <%= f.label :admin %>
    <%= f.select :admin, [["Yes", true], ["No", false]] %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p class="submit-container">
    <%= f.submit I18n.t("main.update"), :class => 'submit' %>
  </p>
<% end %>

<%= link_to image_tag("previous.png", :border => 0, :alt => I18n.t("main.back")), users_path %>
