<h2><%= I18n.t("user.listing_users") %></h2>

<table>
  <tr>
    <th><%= I18n.t("user.username") %></th>
    <th><%= I18n.t("user.name") %></th>
    <th><%= I18n.t("user.admin") %></th>
    <th><%= I18n.t("user.options") %></th>
  </tr>
  
  <% @users.each do |user| %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">

    <td>
      <%= user.username %>
    </td>

    <td>
      <%= user.name %>
    </td>

    <td>
      <% if user.admin? %>
      Yes
      <% else %>
      No
      <% end %>
    </td>

    <td class="centered">
      <%= link_to image_tag("edit.png", :border => 0, :alt => I18n.t("main.edit")), edit_user_path(user) %>
      <%= link_to (image_tag("delete.png", :border => 0, :alt => I18n.t("main.delete")), :action => 'delete', :id => user) %><br />
    </td>

  </tr>
  <% end %>
</table>

<br />

<%= link_to image_tag("add.png", :border => 0, :alt => I18n.t("user.new_user")), new_user_path %>
