<h2><%= I18n.t("user.new_user") %></h2>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :locale %>
    <%= f.select :locale, LANGUAGES.collect{|name, value| [name, value]} %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit I18n.t("main.create") %>
  </p>
<% end %>

<%= link_to I18n.t("main.back"), users_path %>
