<div>
  <%= error_messages_for 'payment' %>

  <%= error_messages_for 'updated_payment' %>
  <% if @updated_payment_components %>
  <% @updated_payment_components.each do |pc| %>
  <%= error_messages_for 'payment_component', :object => pc %>
  <% end %>
  <% end %>
</div>

<table>
  <tr>
    <th>Paid By</th>
    <th>Name</th>
    <% @users.each do |user| %>
    <th><%= user.name %></th>
    <% end %>
    <th>Total</th>
    <th>Date</th>
    <th />
  </tr>
  <tr>
    <td />
    <% form_for :payment, :url => {:action => :save_payment} do |form| %>
    <%= form.hidden_field :user_id, :value => @session.user.id %>
    <td><%= form.text_field :name, :size => 20 %></td>
    <% @users.each do |user| %>
    <td class="table-form-centered"><input id="users" 
               type="checkbox"
               name="payment[users][]"
               value="<%= user.id %>" 
               checked="<%= 'yes' if (!params[:payment].nil? \
                        and !params[:payment][:users].nil? \
                        and params[:payment][:users].member? user.id) %>"/></td>
    <% end %>
    <td><%= form.text_field :value, :size => 10 %></td>
    <td />
    <td class="table-form-centered"><%= submit_tag "Add Payment", :class => "submit" %></td>
    <% end %>
  </tr>
  <%= render(:partial => "payment", :collection => payments) %>
</table>
