<tr>
  <td><%= payment.user.name %></td>
  <% if payment.user_id == session[:user_id] %>
  <% form_for :payment, :url => {:action => :update_payment} do |form| %>
  <input type="hidden"
         id="id"
         name="id"
         value="<%= payment.id %>" />
  <input type="hidden" 
         id="paid" 
         name="paid" 
         value="<%= params[:paid] %>"/>
  <input type="hidden" 
         id="paid" 
         name="not_paid" 
         value="<%= params[:not_paid] %>"/>
  <td><%= form.text_field :name, :size => 20, :value => payment.name %></td>
  <% @users.each do |user| %>
  <% pu = payment.user_component(user) %>
  <% if pu %>
  <% if pu.paid? %>
  <td class="paid">
    <% else %>
  <td class="not_paid">
    <% end %>
    <input id="pc"
           size="5"
           name="payment_components[<%= pu.id %>][paid]"
           value="<%= pu.paid %>"/> /
    <%= number_to_currency(pu.value, :unit => "&euro;") %>
  </td>
    <% else %>
  <td>N/A</td>
  <% end %>
  <% end %>
  <td><%= number_to_currency(payment.value, :unit => "&euro;") %></td>
  <td><%= payment.created_at.strftime("%d/%m/%Y") %></td>
  <td class="table-form-centered">
    <%= submit_tag "Update Payment", :class => "submit" %>
  </td>
  <% end %>
  <% else %>
  <td><%= payment.name %></td>
  <% @users.each do |user| %>
  <% pu = payment.user_component(user) %>
  <% if pu %>
  <% if pu.paid? %>
  <td class="paid">
    <% else %>
  <td class="not_paid">
    <% end %>
    <%= number_to_currency(pu.paid, :unit => "&euro;") %> /
    <%= number_to_currency(pu.value, :unit => "&euro;") %>
  </td>
  <% else %>
  <td>N/A</td>
  <% end %>
  <% end %>
  <td><%= number_to_currency(payment.value, :unit => "&euro;") %></td>
  <td><%= payment.created_at.strftime("%d/%m/%Y") %></td>
  <td />
  <% end %>
</tr>
