<div id="payments">
  <% form_tag do %>
  <fieldset>
    <legend>Filter</legend>
    <div>
      <%= check_box_tag 'paid', true, true %>
      <label for="paid">Paid</label>
      <%= check_box_tag 'not_paid', true, true %>
      <label for="not_paid">Not paid</label>
      <%= submit_tag "Filter" %>
    </div>
  </fieldset>
  <% end %>

  <table>

    <tr>
      <th>Title</th>
      <% @users.each do |user| %>
      <th><%= user.name %></th>
      <% end %>
    </tr>

    <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.name %></td>
      <% @users.each do |user| %>
      <% pu = payment.user_component(user) %>
      <% if pu %>
      <% if pu.paid? %>
      <td class="paid">
        <% else %>
      <td class="not_paid">
        <% end %>
        <%= pu.paid %>/<%= pu.value %>
      </td>
      <% else %>
      <td>N/A</td>
      <% end %>
      <% end %>
    </tr>
    <% end %>

  </table>
</div>
