<div id="payments">

  <div id="payment_forms">

    <div id="filter_form">
      <% form_tag({:action => 'index'}, {:class => 'housekeeper-form'}) do %>
      <fieldset>
        <legend>Filter</legend>
        <div>
          <%= check_box_tag 'paid', true, params[:paid] %>
          <label for="paid">Paid</label>
          <%= check_box_tag 'not_paid', true, params[:not_paid] %>
          <label for="not_paid">Not paid</label>
          <%= submit_tag "Filter", :class => 'submit' %>
        </div>
      </fieldset>
      <% end %>
    </div>

    <div id="amounts_form">
      <% form_tag({:action => 'update_amount'}, {:class => 'housekeeper-form'}) do %>
      <fieldset>
        <legend>Update Amounts</legend>
        <div>
          <%= hidden_field_tag 'paid', params[:paid] %>
          <%= hidden_field_tag 'not_paid', params[:not_paid] %>
          <label for="value">Got</label>
          <%= text_field_tag 'value', '', :size => 10 %>
          <label for="user">from</label>
          <%= select_tag 'user', 
              options_from_collection_for_select(@users, :id, :name) %>
          <%= submit_tag "Update", :class => 'submit' %>
        <div>
      </fieldset>
      <% end %>
    </div>

  </div>

  <div id="owes">
    <% current_user = User.find(session[:user_id]) %>
    <% @users.each do |user| %>
    <% if user != current_user %>
    You owe <b><%= number_to_currency(current_user.amount_owed_to(user), :unit => "&euro;") %></b> to
    <b><%= user.name %></b> and he is owing you
    <b><%= number_to_currency(user.amount_owed_to(current_user), :unit => "&euro;") %></b>
    <br />
    <% end %>
    <% end %>
  </div>

  <div id="payments_table">
    <%= render(:partial => "payments", :object => @payments) %>
  </div>
</div>
