<h2><%= I18n.t("main.payments") %></h2>

<div id="payments">

  <div id="owes">
    <h3><%= I18n.t('main.summary') %></h3>
    <% current_user = @session.user %>
    <% @users.each do |user| %>
      <% if user != current_user %>
        <%= I18n.t("payments.you_owe") %> <b><%= number_to_currency(current_user.amount_owed_to(user), :unit => "&euro;") %></b> <%= I18n.t("payments.to") %>
        <b><%= user.name %></b> 
        <%= I18n.t("payments.and_he_is_owing_you") %>
        <b><%= number_to_currency(user.amount_owed_to(current_user), 
                                  :unit => "&euro;") %></b>
        <br />
      <% end %>
    <% end %>
  </div>

  <div id="payment_forms">

    <div id="amounts_form">
      <% form_tag({:action => 'update_amount'}, {:class => 'housekeeper-form'}) do %>
      <fieldset>
        <legend><%= I18n.t("payments.update_amounts") %></legend>
        <div>
          <label for="value"><%= I18n.t("payments.got") %></label>
          <%= text_field_tag 'value', '', :size => 10 %>
          <label for="user"><%= I18n.t("payments.from") %></label>
          <%= select_tag 'user', 
              options_from_collection_for_select(@users, :id, :name) %>
          <%= submit_tag I18n.t("main.update"), :class => 'submit' %>
        <div>
      </fieldset>
      <% end %>
    </div>

    
    <div id="filter_form">
      <% form_tag({:action => 'update_filters'},
                  {:class => 'housekeeper-form'}) do %>
      <fieldset>
        <legend><%= I18n.t("payments.filter") %></legend>
        <div>
          <p> 
            <label for="paid"><%= I18n.t("payments.paid") %></label>
            <%= check_box_tag 'paid', true, @session.load_paid? %>
          </p>

          <p>
            <label for="not_paid"><%= I18n.t("payments.not_paid") %></label>
            <%= check_box_tag 'not_paid', true, @session.load_not_paid? %>
          </p>

          <p class="submit-container">
            <%= submit_tag I18n.t("payments.filter"), :class => 'submit' %>
          </p>
        </div>
      </fieldset>
      <% end %>
    </div>

  </div>

  <div id="payments_table">
    <%= render(:partial => "payments", :object => @payments) %>
  </div>
</div>
