<h1>New payment</h1>

<% form_for(@payment) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>

  <p>
    Users<br />
    <% @users.each do |u| %>
      <%= check_box_tag "payment[users][]", u.id %> <%= u.name %><br />
    <% end %>
  </p>

  <p>
    <%= f.submit "New" %>
  </p>
<% end %>
