<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>HouseKeeper <%= HOUSEKEEPER_VERSION %></title>
    <%= stylesheet_link_tag "housekeeper", :media => "all" %>
    <%= javascript_include_tag :defaults %>
  </head>

  <body>
    <div id="banner">
      <div id="user_details">
        <% if session[:user_session] %>
        <%= I18n.t('layout.logged_in_as') %> <%= link_to @session.user.name, edit_user_path(@session.user) %>. 
        <%= link_to I18n.t('layout.logout'), :controller => 'admin', :action => 'logout' %>
        <% end %>
      </div>
      <div id="title"><h1>HouseKeeper <%= HOUSEKEEPER_VERSION %></h1></div>
    </div>
    <div id="main">
      <% if flash[:notice] %>
        <div id="notice">
          <%= flash[:notice] %>
        </div>
      <% end -%>
      <%= yield :layout %>
    </div>
    <div id="footer">
    </div>
  </body>
</html>
