<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>HouseKeeper <%= HOUSEKEEPER_VERSION %></title>
    <%= stylesheet_link_tag "housekeeper", :media => "all" %>
    <%= javascript_include_tag :all %>
  </head>

  <body>
    <div id="banner">
      <div id="title">
        <h1>HouseKeeper <%= HOUSEKEEPER_VERSION %></h1>
      </div>
      <div id="inner-banner">
        <div id="user_details">
          <% if session[:user_session] %>

          <%= I18n.t('main.logged_in_as') %>
          <%= link_to @session.user.name, edit_user_path(@session.user) %>. 

          <%= link_to I18n.t('main.logout'), :controller => 'admin',
                                             :action => 'logout' %>
          <% else %>
          <%= link_to I18n.t('main.login'), :controller => 'admin',
                                            :action => 'login' %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="wrapper">
      <div id="main">
        <%= yield :layout %>
      </div>
      <div id="links">
        <ul>
          <% [["payments", false], ["users", true]].each do |controller, admin| %>
          <% if session[:user_session] && (!admin || @session.user.admin?) %>
          <% if controller == @current_controller %>
          <li class="selected">
          <% else %>
          <li>
          <% end %>
            <%= link_to I18n.t('main.' + controller), :controller => controller %>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="footer">
    </div>
  </body>
</html>
